{% extends 'base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    {% for article in articles %}
        <div class="col-3">
            <article class="post top-post">
                <a href="{{ path('app_article', { id: article.id }) }}">
                    <img src="{{ asset(article.image) }}" alt="" class="img-fluid">
                </a>
                <a href="{{ path('app_article', { id: article.id }) }}" class="post-link">
                    <h3>{{ article.title }}</h3>
                </a>
                <time>{{ article.publicationDate | date('d-m-Y') }}</time>
                <p>{{ article.shortDescription }}</p>
            </article>
        </div>
    {% endfor %}
{%  endblock %}